<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgw.account.expendTypeSys.dao.ExpendTypeSysMapper">
  <resultMap id="expendTypeSysResultMap" type="com.tgw.account.expendTypeSys.model.ExpendTypeSys">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_parent_id" jdbcType="INTEGER" property="fkParentId" />
    <result column="expend_type_name" jdbcType="VARCHAR" property="expendTypeName" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="is_sys_own" jdbcType="INTEGER" property="isSysOwn" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="searchData" parameterType="com.tgw.account.expendTypeSys.model.ExpendTypeSys"  resultType="map">
    <bind name="expendTypeNameCon" value="'%' + _parameter.getExpendTypeName() + '%'" />

    select expend.id,
    expend_p.expend_type_name fkParentId,
    expend.expend_type_name expendTypeName,
    expend.is_sys_own isSysOwn,
    expend.order_num orderNum,
    expend.remark remark,
    date_format(expend.add_time, '%Y-%m-%d %H:%i:%s') addTime,
    date_format(expend.update_time, '%Y-%m-%d %H:%i:%s') updateTime
    from account_expend_type_sys expend
    LEFT JOIN  account_expend_type_sys expend_p on expend.fk_parent_id = expend_p.id
    <where>
      <if test="expendTypeName!=null and expendTypeName!='' ">
        and expend.expend_type_name like #{expendTypeNameCon}
      </if>
      <if test="fkParentId!=null">
        and expend.fk_parent_id = #{fkParentId}
      </if>
    </where>
    order by CONVERT( CONCAT_WS('',LPAD(expend_p.order_num,8,'0'),LPAD(expend.order_num,8,'0')) USING gbk) asc
  </select>

  <select id="queryExpendTypeSysTreeMap"  resultType="map">
    select tree.id,tree.expend_type_name,tree.fk_parent_id
    from account_expend_type_sys tree
    LEFT JOIN  account_expend_type_sys expend_p on tree.fk_parent_id = expend_p.id
    order by CONVERT( CONCAT_WS('',LPAD(expend_p.order_num,8,'0'),LPAD(tree.order_num,8,'0')) USING gbk) asc
  </select>

  <select id="queryChildRecord"  resultType="int">
    SELECT count(0)
    from account_expend_type_sys
    where fk_parent_id in
    <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <!--<select id="loadExpendTypeSysChildByPId" resultMap="expendTypeSysResultMap">
    select expend.id,
    expend.fk_parent_id fkParentId,
    expend.expend_type_name expendTypeName,
    expend.order_num orderNum,
    expend.is_sys_own isSysOwn,
    expend.remark remark
    from account_expend_type_sys et
    <where>
      et.fk_parent_id = #{parentId}
    </where>
  </select>-->
</mapper>