<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgw.account.expendType.dao.ExpendTypeMapper">
  <resultMap id="defaultResultMapExpendType" type="com.tgw.account.expendType.model.ExpendType">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_parent_id" jdbcType="INTEGER" property="fkParentId" />
    <result column="expend_type_name" jdbcType="VARCHAR" property="expendTypeName" />
    <result column="is_sys_own" jdbcType="INTEGER" property="isSysOwn" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="searchData" parameterType="com.tgw.account.expendType.model.ExpendType"  resultType="map">
    <bind name="userNameCon" value="'%' + _parameter.getUserName() + '%'" />
    <if test="expendTypeName!=null and expendTypeName!=''">
      <bind name="expendTypeNameCon" value="'%' + _parameter.getExpendTypeName() + '%'" />
    </if>

    select expend.id,
    expend_p.expend_type_name fkParentId,
    expend.expend_type_name expendTypeName,
    expend.is_sys_own isSysOwn,
    expend.order_num orderNum,
    expend.remark remark,
    u.user_name userName,
    u.login_name loginName,
    date_format(expend.add_time, '%Y-%m-%d %H:%i:%s') addTime,
    date_format(expend.update_time, '%Y-%m-%d %H:%i:%s') updateTime
    from account_expend_type expend
    LEFT JOIN  account_expend_type expend_p on expend.fk_parent_id = expend_p.id
    LEFT JOIN sys_en_user u on expend.fk_user_id = u.id
    <where>
      <if test="expendTypeName!=null and expendTypeName!='' ">
        and expend.expend_type_name like #{expendTypeNameCon}
      </if>
      <if test="fkParentId!=null">
        and expend.fk_parent_id = #{fkParentId}
      </if>
      <if test="userName!=null and userName!='' ">
        and u.user_name like #{userNameCon}
      </if>
      <if test="loginName!=null and loginName!='' ">
        and u.login_name = #{loginName}
      </if>
      <if test="fkUserId!=null">
        and expend.fk_user_id = #{fkUserId}
      </if>
    </where>
    order by CONVERT( u.user_name USING gbk) asc,CONVERT( CONCAT_WS('',LPAD(expend_p.order_num,8,'0'),LPAD(expend.order_num,8,'0')) USING gbk) asc
  </select>

  <select id="queryExpendTypeTreeMap"  resultType="map">
    select tree.id,tree.expend_type_name,tree.fk_parent_id
    from account_expend_type tree
    LEFT JOIN  account_expend_type expend_p on tree.fk_parent_id = expend_p.id
    <where>
        tree.fk_user_id = #{fkUserId}
    </where>
    order by CONVERT( CONCAT_WS('',LPAD(expend_p.order_num,8,'0'),LPAD(tree.order_num,8,'0')) USING gbk) asc
  </select>

  <select id="countByOrderNum"  resultType="int">
    SELECT count(0)
    from account_expend_type
    where order_num = #{orderNum}
    and fk_parent_id = #{fkParentId}
    and fk_user_id = #{fkUserId}
  </select>

  <select id="queryChildRecord"  resultType="int">
    SELECT count(0)
    from account_expend_type
    where
    fk_user_id = #{fkUserId}
    and fk_parent_id in
    <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="queryExpendRecord"  resultType="int">
    SELECT count(0)
    from account_expend e
    where
    e.fk_user_id = #{fkUserId}
    and e.fk_expend_type_id in
    <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="queryStatisticsExpendType"  resultMap="defaultResultMapExpendType">
    select e_type.id,e_type.expend_type_name,e_type.fk_parent_id
    from account_expend_type e_type
    LEFT JOIN  account_expend_type e_type_p on e_type.fk_parent_id = e_type_p.id
    <where>
      e_type.fk_user_id = #{fkUserId}
      <if test="idList!=null">
        and e_type.id in
        <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    order by CONVERT( CONCAT_WS('',LPAD(e_type_p.order_num,8,'0'),LPAD(e_type.order_num,8,'0')) USING gbk) asc
  </select>
</mapper>